template.homeTemplate {
	margin:0;
	color:#6a6f8c;
	font:600 16px/18px 'Open Sans',sans-serif;
}
a:hover {
	text-transform: none;
}
.loginDiv, .guestDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 20px);
}

.introTextDiv, .loginInnerFlex {
	margin: 20px auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #E8E6E6;
	/*background: red;*/
}
.introTextDiv h1 {
	font-size: 20pt;
	font-weight: bolder;
	text-align: center;

}
.crosswordTitle {
	font-family: monospace;
	margin: 20px auto;
	cursor: default;
}
.introTextDiv .cwTitleBox span {
	font:
	width: 100px;
	text-align: center;
	font-size: 30pt;
	font-weight: bolder;
	padding: 3px 10px 3px 10px;
	border: 2px #110A0A solid;
}
.cwTitleBox span:nth-child(even) {background-color: #110A0A; color: #E8E6E6;}
.cwTitleBox span:nth-child(odd) {background-color: #E8E6E6; color: #110A0A;}

.loginWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	padding: 50px 0px 50px 0px;
	border-left: 1px #E8E6E6 solid;
}
.loginInnerFlex, .loginInnerFlex a:visited {
	font-size: 30pt;
	color: #E8E6E6;
	/*background-color: red;*/
}
.loginInnerFlex a:hover {
	text-transform: none;
	color: #337AB7;
}
